@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
}

html body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: darkgrey;
}
h1 {
  font-size: 5em;
  text-align: center;
}

button {
  height: 4em;
  width: 9em;
  border: 2px solid black;
  margin: auto;
}
.conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 7em;
}

header {
  background-color: rgb(123, 118, 118);
  padding: 1em;
}

header > h1 {
  text-align: center;
  font-size: 2em;
  padding-bottom: 0.3em;
}

.material-symbols-outlined {
  background-color: rgb(123, 118, 118);
  font-size: 40px;
  display: block;
  text-align: center;
}

.material-symbols-outlined:hover {
  background-color: rgb(58, 56, 56);
  cursor: pointer;
}

nav {
  display: none;
}

header > nav > ul > li {
  text-align: center;
  color: white;
  height: 2em;
}

header > nav > ul > li > a {
  display: block;
  color: white;
  background-color: rgb(187, 181, 181);
  border: 2px solid rgb(113, 110, 110);
  padding: 0.3em;
  border-radius: 5px;
}

main {
  width: 80%;
  margin: auto;
  margin-top: 0.2em;
  padding: 1.2em;
  background-color: white;
  border-radius: 6px;
}

main > h2 {
  font-size: 1.7em;
  text-align: center;
}

main > p {
  padding-top: 1em;
  text-align: justify;
  line-height: 1.4em;
  text-indent: 1.8em;
}
