@charset "UTF-8";
 
  body{
    
    background-color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  
  h1 {
   color: rgb(223, 21, 38); 
   font-size: 1.6em; 
   text-decoration-line: underline;
   text-align: center;
  }
  
  h2 {
    color: rgb(44, 95, 173);
    font-size: 1.2em;
  }
  
  p {
    text-align: justify;
  }