@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: #100721;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 500px;
  gap: 8px;

  > div {
    flex: 0 0 120px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px #1e0e3e;
    position: relative;
    overflow: hidden;

    &:nth-of-type(1) {
      background: url("https://m.media-amazon.com/images/I/71r8Wf5h0+L._AC_UF1000,1000_QL80_.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(2) {
      background: url("https://i.pinimg.com/564x/25/db/a5/25dba53ae14630b01af7f695f88abc37.jpg")
        no-repeat 80% / cover;
    }
    &:nth-of-type(3) {
      background: url("https://a.storyblok.com/f/178900/2000x3000/d04dd1a5fd/solo-leveling-kv0.jpeg/m/filters:quality(95)format(webp)")
        no-repeat 50% / cover;
    }
    &:nth-of-type(4) {
      background: url("https://conteudo.imguol.com.br/c/splash/22/2023/11/28/frieren-e-a-jornada-para-o-alem-1701194108486_v2_4x3.png")
        no-repeat 40% / cover;
    }

    .content {
      font-size: 1.5rem;
      color: #fff;
      display: flex;
      align-items: center;
      padding: 15px;
      opacity: 0;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      background: rgb(2, 2, 46);
      background: linear-gradient(
        0deg,
        rgba(2, 2, 46, 0.6755077030812324) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      transform: translatey(100%);
      transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
      visibility: hidden;

      span {
        display: block;
        margin-top: 5px;
        font-size: 1.2rem;
      }
    }

    &:hover {
      flex: 0 0 250px;
      box-shadow: 1px 3px 15px #7645d8;
      transform: translatey(-20px);
    }

    &:hover .content {
      opacity: 1;
      transform: translatey(0%);
      visibility: visible;
    }
  }
}
