@charset "UTF-8";

* {
    
    font-family: Arial, Helvetica, sans-serif;
}

main { 
    background-color: white;
    width: 600px; /* definir a largura de um elemento*/
    padding: 20px; /*Deixa espaçamento entre a borda e o conteudo, qualquer lado*/
    margin: auto; /* Centraliza o conteudo, nesse caso deixou no meio da pagina*/
    border-radius: 10px; /* arredondar bordas*/
    box-shadow: 8px 8px 15px #24011593;
    
}

p { 
    text-align: justify;/* alinhamento do texto*/
}

body {
    background-image: linear-gradient(to right,  #7A7265, #CCE6F4, #C69C72 ); /*Fazer gradiente de cores*/
}

h1 {
    color: #240115 ;
    text-align: center;
    text-shadow: 1px 1px 0px #c69c72bc ;
}

h2 {
    color: #433E3F;
}